
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<div id="content" style="position:relative;right:-3000px">
    <a class="btn btn-outline-info btn-rounded" asp-action="main">بازگشت</a>
    <br />
    <h4>
        برای از خارج نمودن فایل فشرده فایل ها لازم است نرم افزار فشرده ساز بر روی سیستم نصب گردد
    </h4>
    <br />
    <div class="row">
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    سیاست های اصلی بیمارستان شهید مدرس-1401
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/سیاست های اصلی بیمارستان شهید مدرس-1401.pdf" download>دانلود</a>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    نکات کلیدی برنامه استراتژیک
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/نکات کلیدی برنامه استراتژیک.pdf" download>دانلود</a>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    ایمنی بیمار
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/ایمنی بیمار/ایمنی بیمار.rar" download>دانلود</a>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    حقوق گیرنده خدمت
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/حقوق گیرنده خدمت/حقوق گیرنده خدمت.rar" download>دانلود</a>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    خط مشی  مراقبت های عمومی بالینی
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/خط مشی  مراقبت های عمومی بالینی/خط مشی  مراقبت های عمومی بالینی.rar" download>دانلود</a>
                </div>
            </div>
        </div>
    </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    خط مشی مراقبت حاد و ویژه
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/خط مشی مراقبت حاد و ویژه/خط مشی مراقبت حاد و ویژه.rar" download>دانلود</a>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    خط مشی  مراقبت های بیهوشی و جراحی
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/خط مشی  مراقبت های بیهوشی و جراحی/خط مشی  مراقبت های بیهوشی و جراحی.rar" download>دانلود</a>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    دستورالعمل های اختصاصی اورژانس
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/دستورالعمل های اختصاصی اورژانس/دستورالعمل های اختصاصی اورژانس.rar" download>دانلود</a>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    فرایندهای اصلی بیمارستان
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/فرایندهای  اصلی بیمارستان/فرایندهای  اصلی بیمارستان.rar" download>دانلود</a>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    محتوای دارویی
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/محتوای دارویی/محتوای دارویی.rar" download>دانلود</a>
                </div>
            </div>
        </div>



        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    محتوای کنترل عفونت
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/محتوای کنترل عفونت/محتوای کنترل عفونت.rar" download>دانلود</a>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    بهداشت محیط
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/بهداشت محیط/بهداشت محیط.rar" download>دانلود</a>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    ارزیابی اولیه بیمار توسط پرستار
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/ارزیابی اولیه بیمار توسط پرستار/ارزیابی اولیه بیمار توسط پرستار.rar" download>دانلود</a>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    هموویژلانس
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/هموویژلانس/هموویژلانس.rar" download>دانلود</a>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    247
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/247/247.rar" download>دانلود</a>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    CPR
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/CPR/CPR.rar" download>دانلود</a>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    گزارش نویسی پرستاری
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/گزارش نویسی پرستاری/گزارش نویسی پرستاری.rar" download>دانلود</a>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    تشخیص های  پرستاری
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/تشخیص های  پرستاری/تشخیص های  پرستاری.rar" download>دانلود</a>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    نحوه نصب مانومتر تک گیج بر روی کپسول اکسیژن
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/نحوه نصب مانومتر تک گیج بر روی کپسول اکسیژن.pdf" download>دانلود</a>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:150px;margin:5px;background-image:linear-gradient(black,blue)">
                <div class="card-header bg-success text-center text-white">
                    کدهای اضطراری مدیریت بحران
                </div>
                <div class="card-body" style="text-align:center">
                    <a class="btn btn-outline-success btn-rounded" href="~/parastari/نکات کلیدی برنامه استراتژیک.pdf" download>دانلود</a>
                </div>
            </div>
        </div>
        @*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*@

    </div>
</div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        <script>
            $(document).ready(() => {
                $("#content").animate({ right: "0" });
                $(window).scrollTop($("#back").offset().top);
            });
        </script>
        <script>
            function move_back() {
                $("#form").submit(function (e) {
                    e.preventDefault();
                });
                if (span.show() != true) {
                    $("#content").animate({ right: "-3000" });
                    $("#form").submit();
                }
            }
        </script>
    }
