
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<div id="content" style="position:relative;right:-3000px">
    <a class="btn btn-outline-info btn-rounded" asp-action="main">بازگشت</a>
    <div class="row">
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:200px">
                <div class="card-header bg-danger text-center text-white">
                    آموزش کاربری دستگاه الکتروشوک
                </div>
                <div class="card-body">
                    <video style="width:100%;height:100%" controls>
                        <source src="~/film/electroShok/2.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:200px">
                <div class="card-header bg-danger text-center text-white">
                    آموزش کاربری دستگاه الکتروشوک
                </div>
                <div class="card-body">
                    <video style="width:100%;height:100%" controls>
                        <source src="~/film/electroShok/2.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
          <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:200px">
                <div class="card-header bg-danger text-center text-white">
                    آموزش کاربری دستگاه الکتروشوک
                </div>
                <div class="card-body">
                    <video style="width:100%;height:100%" controls>
                        <source src="~/film/electroShok/3.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:200px">
                <div class="card-header bg-danger text-center text-white">
                    آموزش کاربری دستگاه الکتروشوک
                </div>
                <div class="card-body">
                    <video style="width:100%;height:100%" controls>
                        <source src="~/film/electroShok/4.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:200px">
                <div class="card-header bg-warning text-center text-white">
                    آموزش کاربری دستگاه الکتروکاردیوگراف
                </div>
                <div class="card-body">
                    <video style="width:100%;height:100%" controls>
                        <source src="~/film/kardiograph/1.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:200px">
                <div class="card-header bg-warning text-center text-white">
                    آموزش کاربری دستگاه الکتروکاردیوگراف
                </div>
                <div class="card-body">
                    <video style="width:100%;height:100%" controls>
                        <source src="~/film/kardiograph/2.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:200px">
                <div class="card-header bg-primary text-center text-white">
                    آموزش کاربری دستگاه پمپ سرنگ
                </div>
                <div class="card-body">
                    <video style="width:100%;height:100%" controls>
                        <source src="~/film/sorang/1.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:200px">
                <div class="card-header bg-success text-center text-white">
                    آموزش کاربری دستگاه مانیتورینگ - بدساید
                </div>
                <div class="card-body">
                    <video style="width:100%;height:100%" controls>
                        <source src="~/film/monitoring/badside/1.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:200px">
                <div class="card-header bg-success text-center text-white">
                    آموزش کاربری دستگاه مانیتورینگ - بدساید
                </div>
                <div class="card-body">
                    <video style="width:100%;height:100%" controls>
                        <source src="~/film/monitoring/badside/2.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:200px">
                <div class="card-header bg-success text-center text-white">
                    آموزش کاربری دستگاه مانیتورینگ - بدساید
                </div>
                <div class="card-body">
                    <video style="width:100%;height:100%" controls>
                        <source src="~/film/monitoring/badside/3.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:200px">
                <div class="card-header bg-success text-center text-white">
                    آموزش کاربری دستگاه مانیتورینگ - بدساید
                </div>
                <div class="card-body">
                    <video style="width:100%;height:100%" controls>
                        <source src="~/film/monitoring/badside/4.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:200px">
                <div class="card-header bg-info text-center text-white">
                    آموزش کاربری دستگاه مانیتورینگ - سانترال
                </div>
                <div class="card-body">
                    <video style="width:100%;height:100%" controls>
                        <source src="~/film/monitoring/santral/1.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:200px">
                <div class="card-header bg-info text-center text-white">
                    آموزش کاربری دستگاه مانیتورینگ - سانترال
                </div>
                <div class="card-body">
                    <video style="width:100%;height:100%" controls>
                        <source src="~/film/monitoring/santral/2.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:200px">
                <div class="card-header bg-info text-center text-white">
                    آموزش نحوه بستن مانومتر بر روی کپسول اکسیژن و نکات ایمنی
                </div>
                <div class="card-body">
                    <video style="width:100%;height:100%" controls>
                        <source src="~/film/capsol/1.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col-md-3  m-3">
            <div class="card shadow-lg" style="height:200px">
                <div class="card-header bg-info text-center text-white">
                    آموزش نحوه بستن مانومتر بر روی کپسول اکسیژن و نکات ایمنی
                </div>
                <div class="card-body">
                    <video style="width:100%;height:100%" controls>
                        <source src="~/film/capsol/2.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(() => {
            $("#content").animate({ right: "0" });
            $(window).scrollTop($("#back").offset().top);
        });
    </script>
    <script>
        function move_back() {
            $("#form").submit(function (e) {
                e.preventDefault();
            });
            if (span.show() != true) {
                $("#content").animate({ right: "-3000" });
                $("#form").submit();
            }
        }
    </script>
}
